.movie-list {
  margin-left: 2%;
  padding-top: 5vh;
  height: 100vh; 
}

.poster{
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  width: 100vw;
} 

.overview-text{
  color: black;
  text-align: left;
  border: 1px solid #ccc; /* Specify the border style and color */
  padding: 10px; /* Add some padding to the text within the border */
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  background-color: white;
  margin-top: 0;
}